body {
  background-color: #f0f2f5;
  font-family: 'Raleway', sans-serif;
}

.app {
  margin: 90px;
}

.main-header {
  font-size: 30px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.main-container {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  width: 100%;
}

.generate-schedule-btn {
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  color: rgba(0,0,0,.65);
  border: 1px solid #d9d9d9;;
}

.schedule, .pt-list {
  box-shadow: 0 8px 10px rgb(0 0 0 / 8%);
  background-color: #fff;
  height: 100%
}

.schedule {
  width: 60%;
}

.pt-list {
  width: 30%;
}

.list-tabs {
  display: flex;
  margin: 8px 0 0 8px;
}

.tab {
  padding: 5px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #d9d9d9;
  border-bottom: none;
}

.main-list li:first-child {
  border-top: 1px solid #d9d9d9;
}

.main-list li {
  border-bottom: 1px solid #d9d9d9;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.star {
  margin-right: 5px;
  color: #b7b7b7;
}