body {
  background-color: #f0f2f5;
  font-family: 'Raleway', sans-serif;
}

.app {
  margin: 0 90px;
}

.main-header {
  font-size: 30px;
  text-align: center;
  margin: 60px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  height: 75vh;
  width: 100%;
  margin-top: 30px;
}

.schedule, .pt-list {
  box-shadow: 0 8px 10px rgb(0 0 0 / 8%);
  background-color: #fff;
}

.schedule {
  width: 60%;
  height: 100%;
}

.schedule-header {
  width: 100%;
  padding: 15px;
}

.generate-schedule-btn {
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  color: rgba(0,0,0,.65);
  border: 1px solid #d9d9d9;
  background-color: #ecf4ff;
  padding: 10px;
}

.schedule-controls {
  display: flex; 
  align-items: center;
}

.schedule-controls > * {
  margin: 0 10px;
}

.schedule-controls label {
  padding-top: 2px;
}

input[type=radio] {
  margin: 0 4px 0 0;
}

.error {
  margin: 10px 0 0 10px;
  color: #b42d2d;
  font-weight: bold;
}

.pt-list {
  width: 30%;
  height: 100%;
  font-size: 20px;
}

.list-tabs {
  display: flex;
  margin: 8px 0 0 8px;
}

.tab {
  padding: 5px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #d9d9d9;
  border-bottom: none;
}

.main-list li:first-child {
  border-top: 1px solid #d9d9d9;
}

.main-list li {
  border-bottom: 1px solid #d9d9d9;
  padding: 10px;
}

.li-header {
  display: flex;
  justify-content: space-between;
}

.star {
  margin-left: 5px;
  color: #b7b7b7;
  font-size: 18px;
  display: inline;
}

.hidden {
  display: none;
}

.selected-li select {
  margin-top: 15px;
}

.list-item-icons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #b7b7b7;
}

.list-item-icons span {
  cursor: pointer;
  margin-right: 10px;
}

.time-select {
  width: 100px;
}

.add-new-availability {
  font-size: 16px;
  font-style: italic;
}

.schedule table {
  margin: 20px;
  width: calc(100% - 40px);
  table-layout: fixed;
  border-collapse: collapse;
}

.schedule tbody {
  position: relative;
}

.schedule .last-time-label {
  position: absolute;
  left: 0;
  bottom: 10px;
}

.schedule td:first-child, .schedule th:first-child {
  width: 50px;
}

.schedule td:not(:first-child), .schedule th:not(:first-child) {
  text-align: center;
  width: auto;
}

.schedule td:first-child {
  position: relative;
}

.schedule td:not(:first-child) {
  vertical-align: middle;
  height: 35px;
  border: 1px solid #d9d9d9;
}

.schedule .y-labels {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -10px;
}

.schedule tr.break td:not(:first-child) {
  background-color: #b7b7b7;
}

.break, .unavailable {

}

.short-break {

}

.lunch-break {

}