.main-header {
  font-size: 30px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.main-container {
  margin: 60px;
  display: flex;
  justify-content: space-between;
  height: 70vh;
  width: 80%;
}

.schedule {
  height: 100%;
  width: 60%;
  border: 1px solid blue;
}

.pt-list {
  height: 100%;
  width: 30%;
  border: 1px solid green;
}